.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 100px));
  gap: 2rem;
  padding-left: clamp(10px, 4vw, 40px); /* scales but never too big or too small */
  padding-right: clamp(10px, 4vw, 40px);
  justify-items: center;
  position: relative;
  margin: 4rem auto 0 auto;
  box-sizing:border-box;
  max-width: 100%;
  width:100%;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .section-container { 
    gap: 1.5rem;
    padding: 0 4vw;
    grid-template-columns: repeat(2, 1fr);  
    max-width: 600px;
  }
}

@media (max-width: 520px) {
  .section-container {
    gap: 1rem;
    padding: 2rem 3vw;
    grid-template-columns: 1fr;
    max-width: 320px;
  }
}


