
.task-layout {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .task-layout {
    margin-top:clamp(20px, 30px, 40px);
    padding: 0 10px;
  }
}

